.btn {
  border: none;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 30px;
  border-radius: 10px;
  font: normal 500 12px/16px 'Jost';
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}

.white {
  color: #FF868E;
  background-color: #FFFFFF;
}

.satin {
  color: #FF868E;
  background-color: #FBE0DC;
}

.geraldine {
  color: #FFFFFF; 
  background-color: #FF868E;
}

.btn:hover {
  cursor: pointer;
  background-color: #FBE0DC;
}

.btn:active {
  color: #ffffff;
  background-color: #FF868E;
}