.root {
  width: fit-content;
  min-width: 446px;
  color: rgba(29, 29, 29, 1);
}

.logo {
  margin: 36.44px 0 85.1px 0;
}

.title, .subtitle, .banner {
  margin: 0;
}

.title {
  margin-bottom: 10px;
  font: 500 44px/58px Jost;
}

.subtitle {
  margin-bottom: 60px;
  font: 400 20px/28.9px Jost;
  color: rgba(140, 140, 140, 1);
}

.banner {
  margin-bottom: 20px;
  font: 500 20px/28.9px Jost;
}

.nav {
  min-width: 446px;
}

.nav > :last-child {
  margin: 0;
}
