.container {
  min-width: 320px;
  margin-bottom: 20px;
}

.grid_container {
  max-width: 640px;
  max-height: 940px;
  display: grid;
  grid-template-areas:
    "a b c"
    "a e e"
    "d e e"
    "f g h"
    "i i h"
    "i i j";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 20px;
}

.grid_container > :nth-child(1) {
  grid-area: a;
}

.grid_container > :nth-child(2) {
  grid-area: b;
}

.grid_container > :nth-child(3) {
  grid-area: c;
}

.grid_container > :nth-child(4) {
  grid-area: d;
}

.grid_container > :nth-child(5) {
  grid-area: e;
}

.grid_container > :nth-child(6) {
  grid-area: f;
}

.grid_container > :nth-child(7) {
  grid-area: g;
}

.grid_container > :nth-child(8) {
  grid-area: h;
}

.grid_container > :nth-child(9) {
  grid-area: i;
}

.grid_container > :nth-child(10) {
  grid-area: j;
}
