.frame {
  /* border: 1px solid purple; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
}

.frame > :nth-child(1) {
  margin-bottom: 10px;
}

.frame:hover .icon {
  border-color: #FFFFFF;
}

.frame:hover .btn {
  background-color: #FBE0DC;
}

.frame:active .icon {
  border-color: #FBE0DC;
}

.frame:active .btn {
  color: #ffffff;
  background-color: #FF868E;
}



