.loadingTitle {
	font: 400 1em Jost;
	color: rgba(140, 140, 140, 1);
	position: absolute;
	top: 50%;
	align-self: center;
}

.grid {
	margin-top: 25px;
	width: fit-content;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	outline: none;
	position: relative;
	border-radius: 20px;
	overflow: hidden;

	width: 100%;
	height: 100%;
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: 0.3s filter;
}

.btn {
	position: absolute;
	opacity: 0;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.3s opacity;
}

.link:hover .btn {
	opacity: 1;
}

.link:hover .img {
	filter: sepia(1) hue-rotate(301deg) opacity(60%);
	transition-timing-function: ease-in;
	transition: 0.3s;
}

.link:active .btn {
	color: #ffffff;
	background-color: #ff868e;
}

.patch {
	width: 75%;
	height: 75%;

	opacity: 0.75;
}

.noImage {
	background: #ccc;
}
