.root {
  display: inline-block;
  cursor: pointer;
}

.label {
  display: block;
  font: normal 500 12px/16px 'Jost';
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid transparent;
}

.labelRounded {
  padding: 10px 30px;
  border-radius: 10px;
}

/*  W H I T E  */

.white {
  color: #ff868e;
  background-color: #ffffff;
}

.root:focus .white {
  outline: none;
}

.root:hover .white {
  background-color: #fbe0dc;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.root:active .white {
  color: #ffffff;
  background-color: #ff868e;
}

.whiteActive {
  color: #ffffff;
  background-color: #ff868e;
}

/*  W H I T E   D A R K   */

.whiteDark {
  color: #ff868e;
  background-color: #ffffff;
}

.root:focus .whiteDark {
  outline: none;
}

.root:hover .whiteDark {
  color: #ffffff;
  background-color: #ff868e;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

/*  S A T I N  */

.satin {
  color: #ff868e;
  background-color: #fbe0dc;
}

.root:hover .satin {
  color: #ffffff;
  background-color: #ff868e;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

/*  G E R A L D I N E  */

.geraldine {
  color: #ffffff;
  background-color: #ff868e;
}

.root:hover .geraldine {
  color: #ff868e;
  background-color: #fbe0dc;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

/*  G R A Y  */

.gray {
  color: #8c8c8c;
  background-color: #f8f8f7;
}

.root:focus .gray {
  outline: none;
}

.root:hover .gray {
  color: #ff868e;
  border: 2px solid #fbe0dc;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.root:active .gray {
  color: #ff868e;
  border: 2px solid #fbe0dc;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.grayActive {
  color: #ff868e;
  border: 2px solid #fbe0dc;
  transition-timing-function: ease-in;
  transition: 0.3s;
}
