.root {
  display: inline-block;
  cursor: pointer;
}

.label {
  display: block;
  padding: 10px 30px;
  border-radius: 10px;
  font: normal 500 12px/16px 'Jost';
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid transparent;
}

/*  W H I T E  */

.white {
  color: #FF868E;
  background-color: #FFFFFF;
}

.root:focus .white {
  outline: none;
}

.root:hover .white {
  background-color: #FBE0DC;
}

.root:active .white,
.active {
  color: #ffffff;
  background-color: #FF868E;
}

/*  W H I T E   D A R K   */

.whiteDark {
  color: #FF868E;
  background-color: #FFFFFF;
}

.root:focus .whiteDark {
  outline: none;
}

.root:hover .whiteDark {
  color: #FFFFFF;
  background-color: #FF868E;
}


/*  S A T I N  */

.satin {
  color: #FF868E;
  background-color: #FBE0DC;
}

.root:hover .satin {
  color: #FFFFFF;
  background-color: #FF868E;;
}

/*  G E R A L D I N E  */

.geraldine {
  color: #FFFFFF; 
  background-color: #FF868E;
}

.root:hover .geraldine {
  color: #FF868E;
  background-color: #FBE0DC;
}



/*  G R A Y  */

.gray {
  color: #8C8C8C;
  background-color: #F8F8F7;
}

.root:focus .gray {
  outline: none;
}

.root:hover .gray {
  color: #FF868E;
  border: 2px solid #FBE0DC;
}