.labelRoot {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  margin-right: 16px;
}

.activeLabelRoot{
  pointer-events: none;
}

.icon {
  display: block;
  box-sizing: border-box;
  width: 138px;
  height: 198px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.label {
  display: block;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.labelRoot:hover .icon {
  border-color: #fff;
}

.labelRoot:active .icon,
.iconActive {
  border-color: #FBE0DC;
}

.icon.voting {
  background: #B4B7FF center/contain url('./voting.png') no-repeat;
}

.icon.breeds {
  background: #97EAB9 center/contain url('./breeds.png') no-repeat;
}

.icon.gallery {
  background: #FFD280 center/contain url('./gallery.png') no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
  .icon.voting {
    background-image: url('./voting@2x.png');
  }      

  .icon.breeds {
    background-image: url('./breeds@2x.png');
  }      

  .icon.gallery {
    background-image: url('./gallery@2x.png');
  }  
}
