.root {
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
}

.img {
  width: 100%;
  max-width: 100%;
  min-width: 300px; /** .actions width +40px */
  border-radius: 20px;
}

.actions {
  margin-top: -46px; /** height / 2*/
}