.icon {
  margin: 0;
  padding: 0;
  overflow: visible;
  border-radius: 20px;
  width: 60px;
  height: 60px;
}

.white path {
  fill: #ffffff;
}

.pink path {
  fill: #FF868E;
}

.green path {
  fill: #97EAB9;
}

.orange path {
  fill: #FFD280;
}