.icon {
  display: flex;
  margin: 0;
  outline: none;
}

.icon svg {
  display: inline-block;
}

.icon path {
  fill: currentColor;
}

.icon:hover {
  cursor: pointer;
}


/*   S I Z E S   */

.S {
  padding: 10px;
  border-radius: 10px;
}

.S svg {
  width: 20px;
  height: 20px;
}

.M {
  padding: 15px;
  border-radius: 20px;
}

.M svg {
  width: 30px;
  height: 30px;
}

.L {
  padding: 25px;
  border-radius: 20px;
}

.L svg {
  width: 30px;
  height: 30px;
}